<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
  "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moemao.tgks.wms.outboundorder.dao.OutboundOrderDao">
    <resultMap id="OutboundOrderEvtMap" type="OutboundOrderEvt">
        <id property="id" column="ID" />
        <result property="outboundId" column="OUTBOUNDID" />
        <result property="custom" column="CUSTOM" />
        <result property="createTime" column="CREATETIME" />
    </resultMap>
</mapper>