<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
  "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moemao.tgks.wms.category.dao.CategoryDao">
    <resultMap id="CategoryEvtMap" type="CategoryEvt">
        <id property="id" column="ID" />
        <result property="name" column="NAME" />
        <result property="preId" column="PREID" />
        <result property="preName" column="PRENAME" />
    </resultMap>
</mapper>